* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: goldenrod;
}
.logo-header {
    width: 10%;
    height: auto;
    margin-left: 25%;
}
.header {
    background-color: grey;
}
